body{
    padding-top: 70px;  
}

.img-logo{
    width: 7% !important;
}

nav {
    background-color: #232f3e;
    display: block;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: rgb(196, 196, 196) !important;
}

.navbar-brand{
    max-width: 500px !important;
}

.scrollup {
    width: 30px;
    height: 30px;
    text-decoration: none;
    position: fixed;
    right: 42px;
    bottom: 42px;
    display: none;
    z-index: 100;
    opacity: 0.8;
    outline: none !important;
}

.scrollup i {
    font-size: 3.2rem;
    color: #232f3e;
}

.scrollup i:hover{
    color: #304257;
}