a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  .SignUp .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .SignUp .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .SignUp .lander p {
    color: #999;
  }

  .lander{
    position: relative;
  }