#These are invalid and only serve as an example, replace with your own data
AWS_ACCESS_KEY=AKIAXHL3IKDFABZ5URFS
AWS_SECRET_KEY=pL94AsSeYOM4HuKAoHvYlmuNpnmvDXw1kL0PsD
CLIENT_ID=9slrlaeq5ghHGqq87icfuh6ql3
USER_POOL_ID=us-east-1_PloOh9qsf
